.container {
    text-align: center;
    margin: 5%;
    background-image: linear-gradient(to right, antiquewhite , beige);
    border-radius: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    width:750px;
    height: 1000px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.img {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    /* width:750px;
    height: 550px; */
    max-width: 100%;
    max-height: 100%;
}
.EndCard {
    text-align: center;
    margin: 5%;
    background-image: white;
    border-radius: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.nomatches{
    text-align: center;
    font-family: "Brush Script MT", "Courier New", monospace;
    margin: 0;
    margin-left: 100px;
    line-height: 1.15;
    font-size: 4rem;
}
.details{
    display: flex;
    justify-content: space-around;
}
.icon{
    width :40px ;
    height: 40px;
}
.endIcon{
    width :500px ;
    height: 500px;
}
.profileContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: antiquewhite;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width : 100vw;
    height: 25vh;
}
.imageContainer{
    flex:  0 0 20%;
}
.profilePic{
    height:100%;
    width:30vw;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.textContainer{
    display: flex;
    word-wrap: break-word;
    width: 150px;
    flex-direction: column;
    justify-content: space-around;

}
.profileInfoContainer{
    display: flex;
    flex: 0 0 60%;
    flex-direction: row;
    justify-content: space-between;
    
}
.profileItem{
    margin-bottom: 1vh;
}
.list{
    list-style-type:none;
}
.editButton{
    display:flex;
    justify-content: center;
}
.buttons{
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
    height: 5vh;
    justify-content: center;
    max-width: 100%;
    margin:1vh;
    
    
    text-align: center;
  }
  
  .buttons:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
    
  }

  .buttons:active {
    background-color: #ffdeda;   
  }