.container{
    display :flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, antiquewhite , white);
    font-family: "Lucida Console", "Courier New", monospace;

}
.inputWrapper {
    margin-top: 20px;
}
.inputWrapper > input{
    font-family:"Lucida Console", "Courier New", monospace; 
}
.inputWrapper > textarea{
    font-family:"Lucida Console", "Courier New", monospace; resize:none; 
    font-size: medium;
}