/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove anchor text decoration */
a {
  text-decoration: none;
}

/* Remove table border spacing and padding */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set default font size and family */
body {
  font-size: 16px;
  font-family: sans-serif;
}
